html{
  background-color: #ccfff3;
  color: #111111;
}
body {
  display: flex;
  justify-content: center;
  text-align: center;
}
form {
  border: 2px solid #111111 ;
  padding: 2rem;
  margin-bottom: 2rem;
}
.header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.btn:hover{
  background-color: #def55c;
}
.github-profile {
  margin: 1rem;
}
.github-profile img {
  width: 75px;
}
.github-profile info {
  display: inline-block;
  margin-left: 12px;
}
.github-profile info {
  font-size: 1.25 rem;
  font-weight: bold;
}
